body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* this is for the header */
.link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
 
}

.link: hover, focus {color: #404bbf}

.inside-logo {
  color: #2e2f42;
}

.list {
  list-style: none;
}

.link, .link-menu {text-decoration: none;}




.link-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.link-menu:hover, :focus {color: #404bbf}


.hmenustyle {
  text-decoration: none;
}

.adress-style {
  font-style: normal;
}

/* this is for first section */
.first-sec {
  background-color: #2e2f42;
}

.firstsec-head {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.firstsec-button {
  background-color: #4d5ae5;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.firstsec-button:hover {
  background: #404bbf;
}

firstsec-button:focus {
  cursor: pointer;
}

firstsec-button:focus {
  background-color: #404bbf;
}

/* this is for second section */
.sectwolist-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* this is for third section */
.sectri-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize
  color: #2e2f42;
}
/* this is for fourth section */
.secfour-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
}
/* this is for fourth section */
.footer-section {
  background-color: #2e2f42;
}

.footer-paragraph {
  line-height: 1.5;
  color: #F4F4FD;
  letter-spacing: 0.02em;
}

.address-style {font-style: normal;}